In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#load dataset
df=pd.read_csv(r"C:/Users/User-PC/Downloads/Healthcare Cost & Insurance Analysis/insurance.csv")
print(df)
#print(df.describe())

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

In [13]:
#Check Null Values
print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64
0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Length: 1338, dtype: bool

AttributeError: 'NoneType' object has no attribute 'sum'

In [32]:
#Check Duplicates
duplicate_values=df.duplicated().any()
#print(duplicate_values)

#Check Row
duplicated_row=df[df.duplicated()]
#print(duplicated_row)

#Based on specific column
duplicated_column=df[df.duplicated(subset=["smoker","charges"])]
#print(duplicated_column)

df=df.drop_duplicates().reset_index(drop=True)
print(df.duplicated().sum())

0

In [58]:
#Normalize Categorical columns
df['charges']=df['charges'].round().astype(int)
df['bmi']=df['bmi'].round().astype(int)
df['region']= df['region'].str.strip().str.title()

#Binary Encoding 'smoker' & 'sex'
df['smoker']=df['smoker'].map({'yes': 1, 'no': 0})
df['sex']=df['sex'].map({'male': 1, 'female': 0})

#hot encoding for 'region'
df=pd.get_dummies(df, columns=['region'], drop_first=True)
print(df.head(50))

    age  sex  bmi  children  smoker  charges  region_Northwest  \
0    19    0   28         0       1    16885             False
1    18    1   34         1       0     1726             False
2    28    1   33         3       0     4449             False
3    33    1   23         0       0    21984              True
4    32    1   29         0       0     3867              True
5    31    0   26         0       0     3757             False
6    46    0   33         1       0     8241             False
7    37    0   28         3       0     7282              True
8    37    1   30         2       0     6406             False
9    60    0   26         0       0    28923              True
10   25    1   26         0       0     2721             False
11   62    0   26         0       1    27809             False
12   23    1   34         0       0     1827             False
13   56    0   40         0       0    11091             False
14   27    1   42         0       1    39612             False
15   19    1   25         1       0     1837             False
16   52    0   31         1       0    10797             False
17   23    1   24         0       0     2395             False
18   56    1   40         0       0    10602             False
19   30    1   35         0       1    36837             False
20   60    0   36         0       0    13229             False
21   30    0   32         1       0     4150             False
22   18    1   34         0       0     1137             False
23   34    0   32         1       1    37702             False
24   37    1   28         2       0     6204              True
25   59    0   28         3       0    14001             False
26   63    0   23         0       0    14452             False
27   55    0   33         2       0    12269              True
28   23    1   17         1       0     2775              True
29   31    1   36         2       1    38711             False
30   22    1   36         0       1    35586             False
31   18    0   26         0       0     2198             False
32   19    0   29         5       0     4688             False
33   63    1   28         0       0    13770              True
34   28    1   36         1       1    51195             False
35   19    1   20         0       0     1625              True
36   62    0   33         3       0    15612              True
37   26    1   21         0       0     2302             False
38   35    1   37         1       1    39774             False
39   60    1   40         0       1    48173             False
40   24    0   27         0       0     3046             False
41   31    0   37         2       0     4950             False
42   41    1   22         1       0     6272             False
43   37    0   31         2       0     6314             False
44   38    1   37         1       0     6080             False
45   55    1   37         0       0    20630             False
46   18    0   39         2       0     3393             False
47   28    0   35         0       0     3557              True
48   60    0   25         0       0    12630             False
49   36    1   35         1       1    38709             False

    region_Southeast  region_Southwest
0              False              True
1               True             False
2               True             False
3              False             False
4              False             False
5               True             False
6               True             False
7              False             False
8              False             False
9              False             False
10             False             False
11              True             False
12             False              True
13              True             False
14              True             False
15             False              True
16             False             False
17             False             False
18             False              True
19             False              True
20             False             False
21             False              True
22              True             False
23             False             False
24             False             False
25              True             False
26             False             False
27             False             False
28             False             False
29             False              True
30             False              True
31             False             False
32             False              True
33             False             False
34             False              True
35             False             False
36             False             False
37             False              True
38             False             False
39             False              True
40             False             False
41              True             False
42              True             False
43              True             False
44             False             False
45             False              True
46             False             False
47             False             False
48              True             False
49              True             False

In [59]:
df.to_csv(r"C:/Users/User-PC/Downloads/Healthcare Cost & Insurance Analysis/cleaned_insurance_dataset.csv", index=False)